<nav id="sidebar">
    <div class="sidebar-header">
      <a href="/adminHome"
        ><img src="../img/cover.png" alt="logo" class="logo"
      /></a>
      <a href="/adminHome"><strong>AB</strong></a>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="/users"><i class="fas fa-user-friends"></i> Users</a>
      </li>
      <li> <!-- Had class=active-->
        <a href="instructorsDB.html"><i class="fas fa-chalkboard-teacher"></i> Instructors</a>
      </li>
      <li>
        <a href="studentsDB.html"><i class="fas fa-user-friends"></i> Students</a>
      </li>
      <li>
        <a href="coursesDB.html"><i class="fas fa-copy"></i> Courses</a>
      </li>
    </ul>
  </nav>