<footer class="footer">
    <div id="benefits" class="container">
        <div class="row">
          <div class="benefits-inner-container col-sm">
            <div class="text-center">
               <img src="/img/profile.png" alt="logo">
            </div>
         </div>
         <div class="benefits-inner-container col-sm">
            <div>
               <img src="/img/hspic.png" alt="headshot picture">
            </div>
            <div class="benefit">
              <p>Amna Amen: <a href="mailto:amna.amen14@qmail.cuny.edu">amna.amen14@qmail.cuny.edu</a></p>
            </div>
         </div>
         <div class="benefits-inner-container col-sm">
            <div>
               <img src="/img/hspic.png" alt="headshot picture">
            </div>
            <div class="benefit">
              <p>Ben Kluger: <a href="mailto:benjamin.kluger98@qmail.cuny.edu">benjamin.kluger98@qmail.cuny.edu</a></p>
            </div>
         </div>
        </div>
    </div>
</footer>