<nav id="sidebar">
    <div class="sidebar-header">
      <a href="/instructorHome"
        ><img src="../img/cover.png" alt="logo" class="logo"
      /></a>
      <a href="/instructorHome"><strong>AB</strong></a>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="/instructorHome"
          ><i class="fas fa-home"></i> My Courses</a
        >
      </li>
      <li>
        <a href="/availCoursesIN"
          ><i class="fas fa-briefcase"></i> Available Courses</a
        >
      </li>
      <li>
        <a href="/createCourse"
          ><i class="fas fa-copy"></i> Create a Course</a
        >
      </li>
    </ul>
  </nav>