<nav id="sidebar">
    <div class="sidebar-header">
      <a href="studentHomePage.html"
        ><img src="../img/cover.png" alt="logo" class="logo rounded"
      /></a>
      <a href="/studentHome"><strong>AB</strong></a>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="studentHomePage.html"
          ><i class="fas fa-home"></i> My Courses</a
        >
      </li>
      <li>
        <a href="availCoursesST.html"
          ><i class="fas fa-briefcase"></i> Available Courses</a
          >
      </li>
    </ul>
  </nav>