<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/_head') %>
    <head>
        <title>ChalkBoard</title>
      </head>
  <body>
    <div class="wrapper">

      <!-- Page Content  -->
      <div id="content">
        <div class=" align-items-center login text-center">
            <img src="img/cover.png" alt="Logo" class="rounded mx-auto d-block">
            <h1>ChalkBoard</h1>
            <h4>Amna Amen & Ben Kluger</h4><br>
            <a href="/login" class="btn btn-info">Sign In Page</a>
            <br><br>
            <h4>A Blackboard copy by Amna and Ben!</h4>
        </div>

        <%- include('../partials/_footer') %>
      </div>

    </div>
  </body>
</html>
